/* Estilos para o componente App */
.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Animações básicas para transições de página */
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }